<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /e-commerse/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /e-commerse/index.html [L]
</IfModule>
